@import url("https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}
:root {
  --font-title: "Merriweather", sans-serif;
  --font-text: "Inter", sans-serif;
  --gold: #bdae82;
  --bg-dark: #000;
  --white: #fff;
}

body {
  background-color: var(--bg-dark);
  color: var(--white);
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  font-family: var(--font-text);
  /* щоб менше раз це писати */
}

.background {
  background-image: url(img/bg.jpg);
  height: 910px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  height: 50px;
  padding: 20px;
}

.container {
  gap: 30px;
}

.container,
.switch-ing {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switch-ing {
  gap: 9px;
}

.header {
  gap: 31px;
  display: flex;
  flex-direction: row;
}

/* .logo:hover {
  color: var(--gold); */

a {
  color: var(--white);
  text-decoration: none;
}

.hero {
  margin-left: 80px;
  margin-top: 241px;
  text-align: left;
  width: 464px;
}

.hero-title {
  font-family: var(--font-title);
  font-size: 60px;
}

.hero-text {
  line-height: 40px;
  margin: 62px 0 40px;
}

.hero-text,
.btn,
h3 {
  font-size: 20px;
}

.btn {
  box-sizing: border-box;
  color: var(--bg-dark);
  width: 220px;
  height: 55px;
  text-align: center;
  background-color: var(--gold);
  border: 0;
  font-size: 20px;
}

button:hover {
  color: var(--white);
}

h2 {
  font-size: 40px;
  color: var(--gold);
  font-family: var(--font-title);
  line-height: 80px;
  margin: 100px 0 60px;
}

h2::before {
  content: "";
  display: inline-block;
  width: 250px;
  height: 2px;
  background-color: var(--gold);
  margin-right: 20px;
  margin-bottom: 10px;
}

h2::after {
  content: "";
  display: inline-block;
  width: 250px;
  height: 2px;
  background-color: var(--gold);
  margin-left: 20px;
  margin-bottom: 10px;
}

.skills-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px;
  margin: 0 20px;
}

.skills-item {
  width: 320px;
}

.portfolio-btn {
  box-sizing: border-box;
  color: var(--gold);
  width: 220px;
  height: 55px;
  text-align: center;
  background-color: var(--bg-dark);
  border: 2px solid var(--gold);
  font-size: 20px;
  gap: 5px;
  margin-bottom: 60px;
}

.portfolio-btn:last-child,
.portfolio-btn:hover {
  background-color: var(--gold);
  color: var(--bg-dark);
}

.portfolio-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 20px;
}
.video-player {
  background-image: url(img/video-player.jpg);
  width: 1400px;
  height: 705px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

/* .play:hover {
  color: var(--gold);
} */
h4 {
  font-size: 28px;
  line-height: 56px;
  font-family: var(--font-title);
}
.cash {
  font-family: var(--font-title);
  font-size: 24px;
  line-height: 48px;
  color: var(--gold);
}
.price-text p {
  margin: 0;
}
.price-text {
  margin: 20px 0 40px;
}
.price-item {
  /* box-sizing: border-box; */
  border: 3px solid;
  border-color: var(--gold);
  width: 450px;
  height: 505px;
}
.price-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  width: 1400px;
  margin: 20px;
}
.contacts-background {
  background-image: url(img/contacts.jpg);
  width: 1440px;
  height: 700px;
  margin: 100px 0 50px;
}
h5 {
  font-size: 40px;
  color: var(--gold);
  font-family: var(--font-title);
  line-height: 80px;
}
.e-mail,
.phone {
}
