@import url("https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@700&display=swap");

:root {
  --font-title: "Merriweather", sans-serif;
  --font-text: "Inter", sans-serif;
  --gold: #bdae82;
  --bg-dark: #000;
  --white: #fff;
}

body {
  background-color: var(--bg-dark);
  color: var(--white);
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  font-family: var(--font-text);
 /* щоб менше раз це писати */
}

.background {
  background-image: url(img/bg.jpg);
  height: 910px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  height: 50px;
  padding: 20px;
}

.container {
  gap: 30px;
}

.container,
.switch-ing {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switch-ing {
  gap: 9px;
}

.header {
  gap: 31px;
  display: flex;
  flex-direction: row;
}

/* .logo:hover {
  color: var(--gold); */

a {
  color: var(--white);
  text-decoration: none;
}
.hero {
  margin-left: 80px;
  margin-top: 241px;
  text-align: left;
  width: 464px;
}

.hero-title {
  font-family: var(--font-title);
  font-size: 60px;
}

.hero-text {
  line-height: 40px;
  margin: 62px 0 40px;
}

.hero-text,
.btn, h3 {
  font-size: 20px;
}

.hero-btn {
  box-sizing: border-box;
  color: var(--bg-dark);
  width: 220px;
  height: 55px;
  text-align: center;
  background-color: var(--gold);
  border: 0;
  font-size: 20px;
}
button:hover {
  color: var(--white);
}
h2 {
  font-size: 40px;
  color: var(--gold);
  font-family: var(--font-title);
  line-height: 80px;
  margin: 100px 0 60px;
}

h2::before {
  content: "";
  display: inline-block;
  width: 250px;
  height: 2px;
  background-color: var(--gold);
  margin-right: 20px;
  margin-bottom: 10px;
}
h2::after {
  content: "";
  display: inline-block;
  width: 250px;
  height: 2px;
  background-color: var(--gold);
  margin-left: 20px;
  margin-bottom: 10px;
}

/* тут ти звернулась до .skills-item, не той клас */
.skills-items {
  width: 320px;
  height: 240px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.skills-logo {
  height: 50px;
}
